<div class="main-container">
  <div class="main-wrapper">
    <div class="headline">
      <h1>Fly Select</h1>
    </div>

    <div class="io-line">
      <p>Custom groups layout</p>

      <form [formGroup]="formOne">
        <fly-select
          (selected)="handleSelect($event)"
          [data]="groupsCustom"
          [labelProperty]="'name'"
          [valueProperty]="'id'"
          [formControlName]="'select'">
          <ng-template let-group="group" flySelectGroupBody>
            <div class="universe-card">
              <div class="image" [style.backgroundImage]="'url(' + group.groupOriginal.avatar + ')'"></div>

              <div class="info">{{group.groupLabel}}</div>
            </div>
          </ng-template>

          <ng-template let-option="option" flySelectItemBody>
            <div class="hero-card">
              <div class="image" [style.backgroundImage]="'url(' + option.original.avatar + ')'"></div>

              <div class="info">
                <div class="alias">{{option.original.alias}}</div>
                <div class="name-company">{{option.original.name}}, {{option.original.company}}</div>
              </div>
            </div>
          </ng-template>
        </fly-select>
      </form>
    </div>

    <div class="io-line">
      <p>Custom options layout</p>

      <form [formGroup]="formOne">
        <fly-select
          (selected)="handleSelect($event)"
          [data]="data"
          [labelProperty]="'name'"
          [valueProperty]="'id'"
          [formControlName]="'select'">
          <ng-template let-option="option" flySelectItemBody>
            <div class="hero-card">
              <div class="image" [style.backgroundImage]="'url(' + option.original.avatar + ')'"></div>

              <div class="info">
                <div class="alias">{{option.original.alias}}</div>
                <div class="name-company">{{option.original.name}}, {{option.original.company}}</div>
              </div>
            </div>
          </ng-template>
        </fly-select>
      </form>
    </div>

    <div class="io-line">
      <p>Default groups layout</p>

      <form [formGroup]="formTwo">
        <fly-select
          (selected)="handleSelect($event)"
          [data]="groups"
          [placeholder]="'Select option'"
          [formControlName]="'select'">
        </fly-select>
      </form>
    </div>

    <div class="io-line">
      <p>Default options layout</p>

      <form [formGroup]="formTwo">
        <fly-select
          (selected)="handleSelect($event)"
          [data]="select"
          [placeholder]="'Select option'"
          [formControlName]="'select'">
        </fly-select>
      </form>
    </div>
  </div>
</div>