<div class="main-container">
  <div class="main-wrapper">
    <div class="headline">
      <h1>Fly Select</h1>
    </div>

    <h3>Layouts</h3>

    <div class="io-line">
      <p>Default Options Layout - <a href="https://github.com/iDGE90/fly-select/blob/master/src/app/components/options.component.ts" target="_blank"><i>source</i></a></p>

      <app-options></app-options>
    </div>

    <div class="io-line">
      <p>Custom Options Layout - <a href="https://github.com/iDGE90/fly-select/blob/master/src/app/components/style-options.component.ts" target="_blank"><i>source</i></a></p>

      <app-custom-options></app-custom-options>
    </div>

    <div class="io-line">
      <p>Default Groups Layout - <a href="https://github.com/iDGE90/fly-select/blob/master/src/app/components/groups.component.ts" target="_blank"><i>source</i></a></p>

      <app-groups></app-groups>
    </div>

    <div class="io-line">
      <p>Default Groups Layout - <a href="https://github.com/iDGE90/fly-select/blob/master/src/app/components/custom-groups.component.ts" target="_blank"><i>source</i></a></p>

      <app-custom-groups></app-custom-groups>
    </div>

    <h3>Styling</h3>

    <div class="io-line">
      <p>Styled Default Options Layout - <a href="https://github.com/iDGE90/fly-select/blob/master/src/app/components/style-options.component.ts" target="_blank"><i>source</i></a></p>

      <app-style-options></app-style-options>
    </div>
  </div>
</div>